:root{
  --mainblue: #2a2a72;
  --lightblue: #009ffd;
  --mainwhite: #f3f3f3;
  --maindark: #232528;
  --mainyellow: #ffa400;
  --mainred: red;
}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainwhite) !important;
  color: var(--maindark) !important;
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  letter-spacing: 0.3rem;  
}
.text-blue{
  color: var(--mainblue);
}
.text-bright{
  color: var(--lightblue);
}